<link href="../styles/styles.min.css" type="text/css">
<div class="head pnd">
   <a href="http://www.bandwidth.com" class="aimg"><div class="headerLogo pnd"></div></a>
   <h2><a href="http://dev.bandwidth.com">Docs for Developers</a> &nbsp;&#8250;&nbsp; Phone Number API</h2>
   <ul>
   	<li class="headerButton"><a href="https://www.bandwidth.com/contact/" target="_blank"><button class="free-trial">Request Access</button></a></li>
   <li><a href="https://dashboard.bandwidth.com" class="headerLink" target="_blank" id="loginTab">Login</a></li>
   <!-- <li><a href="#" class="headerLink hasSecondary" id="loginTab">Login</a></li> -->
   <!-- <div class="headerDropdown" style="background-color:#00bcec;">
     <ul>
        <li><a href="https://app.bandwidth.com" class="headerLink" target="_blank">Voice & Messaging Dashboard</a></li>
        <li><a href="https://dashboard.bandwidth.com" class="headerLink" target="_blank">Phone Number Dashboard</a></li>
     </ul>
   </div> -->
   	<li><a href="https://support.bandwidth.com/access/unauthenticated" class="headerLink" target="_blank">Support</a></li>
   </ul>
</div>
